<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-Do List</title>
  </head>
  <body>


  <h1> <%= kindOfDay %> </h1>

  <ul>
    <%listItems.forEach(function(listItem) {%>
      <li><%= listItem %></li></li>
    <%})%>
  </ul>

  <form class="addItem" action="/" method="post">
    <label for="item">Add Item:</label><br>
    <input type="text" name="item">
    <input type="submit" value="Add">
  </form>

  </body>
</html>
