<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Header Section</h1>
  </header>

  <section class="about">
    <div class="about-title">
      <h2>About Me</h2>
    </div>
    <div class="about-pages">
      <div>
        <h2>A Div</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolore iste, magnam eius sit fugiat modi quaerat tempore dolorem natus, reprehenderit sequi vero in soluta quas eos numquam perferendis? Odio provident laudantium placeat cupiditate similique vel? Ipsum tenetur modi voluptatem magnam, nesciunt iusto ex molestiae, at inventore repellendus repellat eum laboriosam, rem quam reiciendis accusantium ad officiis ab architecto ratione doloribus? Enim alias incidunt sit laboriosam ex reprehenderit soluta excepturi optio consequatur animi consequuntur sint ab esse quis, nostrum at dolore quae, magnam fuga officia vel iste iusto! Impedit officia maxime quos eius provident, quibusdam pariatur placeat consequatur error. Possimus.</p>
      </div>

      <div>
        <h2>Another Div</h2>
        <p>Ipsum tenetur modi voluptatem magnam, nesciunt iusto ex molestiae, at inventore repellendus repellat eum laboriosam, rem quam reiciendis accusantium ad officiis ab architecto ratione doloribus? Enim alias incidunt sit laboriosam ex reprehenderit soluta excepturi optio consequatur animi consequuntur sint ab esse quis, nostrum at dolore quae, magnam fuga officia vel iste iusto! Impedit officia maxime quos eius provident, quibusdam pariatur placeat consequatur error. Possimus.</p>
      </div>    
    </div>
    
  </section>

  <footer>
    <h2>Ta-da!</h2>
  </footer>
</body>
</html>